body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#GamePanel { border: 1px solid gray; border-radius: 2px; width: 800px; height: 600px; float: left; }

#GameCanvas { background-color: #6B9CCC; }

#Controls {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#Controls { float: left; width: 300px; height: 600px; border: 1px solid #aaa; margin-left: 10px; overflow: scroll; padding: 10px; margin-bottom: 10px; }
.Body .Components textarea { width: 100%; height: 64%; margin-top: 10px; }

#Output { display: none; position: fixed; width: 800px; height: 600px; top: 200px; left: 200px; border: 1px solid #aaa; background-color: #eee; padding: 10px; }
#Output textarea { border: 1px solid #bbb; width: 100%; height: 95%; margin-top: 4px;  }

#EditorMain { width: 1120px; }

#TileSet { width: 456px; height: 256px; border: 1px solid #bbb; clear: both; }