body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#GamePanel { border: 1px solid gray; border-radius: 2px; width: 800px; height: 600px; }

#GameCanvas { background-color: #242424; }

